<h2>Húrnégyszög területszámítás</h2>

<form action="calc.php" method="get">

    <div>
        <label for="aSide" class="form-label">A oldal</label>
        <input type="text" class="form-control" name="aSide" id="aSide">
    </div>
    <div>
        <label for="bSide" class="form-label">B oldal</label>
        <input type="text" class="form-control" name="bSide" id="bSide">
    </div>
    <div>
        <label for="cSide" class="form-label">C oldal</label>
        <input type="text" class="form-control" name="cSide" id="cSide">
    </div>
    <div>
        <label for="dSide" class="form-label">D oldal</label>
        <input type="text" class="form-control" name="dSide" id="dSide">
    </div>
    <button type="submit" class="mt-4 btn btn-info" >Számít</button>

</form>